<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating App Feature</title>
    <style>

      .error input {
        border: solid 1px red;
      }


      .message--mine {
        background-color: yellow 
      }

    </style>

  </head>
  
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/matches">My matches</a>
    </nav>
    <div id="page-container">
      <%- body %>
    </div>
  </body>
</html>
