<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating App Feature</title>
    <style>

      .error input {
        border: solid 1px red;
      }


      .message--mine {
        background-color: yellow 
      }

    </style>

    <link rel="stylesheet" href="/src/css/main.css">

  </head>
  
  <body>
    
    <div class="page-container">
      <%- body %>
    </div>
    
    <footer class="footer-navigation">
      <nav class="footer-navigation__container">
        <ul class="footer-navigation__list">
          <li class="footer-navigation__list-item">
            <a class="footer-navigation__link" href="/">Home</a>
          </li>
          <li class="footer-navigation__list-item">
            <a class="footer-navigation__link" href="/matches">Matches</a>
          </li>
        </ul>
      </nav>
    </footer>

    <script src="/src/index.js"></script>
  </body>
</html>
