<form action="login" method="POST">
  <div class="<% if (errors.includes("email")) { %> error <% } %>">
    <label for="email">Email</label>
    <input value="piet@live.nl" id="email" type="email" name="email" value="<%= values.email %>" />
  </div>

  <div class="<% if (errors.includes("password")) { %> error <% } %>">
    <label for="password">Password</label>
    <input value="123" id="password" type="password" name="password" />
  </div>

  <button type="submit">Login</button>
</form>

<footer>
  <p>Don't have an account? <a href="/register">Register</a></p>
</footer>
