<main>
  <% if (matches.length > 0) { %>
    <ul class="user-cards__list">
      <% matches.forEach(match => { %>
        <li class="user-cards__list-item">
          <article class="user-card">
            <div class="user-card__image-container">
              <% if (match.gender == "male") { %>
                <img class="user-card__image" src="https://cdn.webshopapp.com/shops/23272/files/203986157/nerd-bril.jpg">
              <% } else { %>
                <img class="user-card__image" src="https://www.birthdaymessagesstatus.com/wp-content/uploads/2018/08/Stylish-Attitude-Girl-Images-for-FB-Profile-Pic-300x291.jpg">
              <% } %>

              <footer class="user-card__footer">
                <h3 class="user-card__name"><%= match.name %></h3>
                <h4 class="user-card__age"><%= match.age %></h4>
              </footer>
            </div>

            <div class="user-card__form" action="/user/like" method="POST">
              <a type="submit" class="user-card__button user-card__button--chat" href="/chat/<%= match.matchId %>"><i class="	fa fa-comment"></i></a>
            </div>
            
          </article>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <h1>You don't have any matches</h1>
  <% } %>
</main>