:root {
  --light-grey: #eee;
  --dark: #2b2b2b;
  --dark-light: #878787;
  --red: #eb3856;
  --blue: #5537eb;
  --white-transparent: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: rgba(0, 0, 0, 0.83);
  background-blend-mode: darken;
  background-image: url("https://i.pinimg.com/originals/f8/f2/13/f8f213e5ad9922936b3d1b724dc81e1f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  color: var(--blue);
  text-decoration: none;
  opacity: 0.6;
  font-weight: 600;
}

a:hover {
  opacity: 1;
}

button,
input,
select {
  background: none;
  border: none;
  font-size: 1rem;
  outline: none;
  color: var(--dark);
  position: relative;
  border-radius: 3px;
}

select {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button:hover,
select:hover {
  cursor: pointer;
}

hr {
  /* margin: 2.65em 0; */
  width: 50%;
  margin: 1.5em auto;
  opacity: 0.5;
  border-color: var(--red);
}

em {
  color: var(--light-grey);
}

/* ----- Layout ----- */

.page-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 3.5em);
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

/* ----- Footer Navigation ----- */

.footer-navigation {
  height: 3.5em;
}

.footer-navigation__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: inherit;
  padding: 0 5vw;
  display: flex;
  background: var(--red);
}

.footer-navigation__list {
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-around;
  margin: 0 auto;
  align-self: center;
}

.footer-navigation__list-item {
  font-weight: bold;
}

.footer-navigation__link {
  color: white;
  opacity: 0.8;
}

.footer-navigation__link:hover {
  opacity: 1;
}

.footer-navigation__link {
  /* color: white; */
}

/* ----- Register / Login ----- */

.user-form {
  padding: 20vh 0 10vh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-form em {
  margin-bottom: 1em;
}

.user-form__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
}

.user-form__field {
  width: 100%;
  margin-bottom: 1em;
  background: var(--light-grey);
  padding: 1.75em 1em 1em;
  position: relative;
  border-radius: 5px;
}

.user-form__field--half {
  width: calc((100% - 1em) / 2);
}

.user-form__field .user-form__field-label {
  position: absolute;
  top: 0.75em;
  left: 1.25em;
  font-size: 0.75em;
  font-weight: 700;
  color: var(--red);
}
.user-form__field-input {
  font-size: 1.5em;
  width: 100%;
}

.user-form__submit {
  background: var(--red);
  width: 100%;
  /* font-weight: 900; */
  padding: 0.75em 1em;
  color: var(--white-transparent);
  letter-spacing: 0.12em;
}

.user-form__submit:hover {
  color: white;
}

.user-form__footer {
  color: var(--light-grey);
  width: 100%;
  text-align: right;
  max-width: 450px;
  margin-top: 1.5em;
}

/* ----- User cards ----- */

.user-cards {
  width: 100%;
  padding: 20vh 0 10vh;
}

.user-cards__list-item {
  margin-bottom: 15vh;
}

.user-cards__list-item:nth-child(even) .user-card {
  float: right;
  flex-direction: row-reverse;
}
.user-cards__list-item:nth-child(even) .user-card__form {
  margin-left: 0;
  margin-right: 2em;
}

.user-card {
  display: flex;
  position: relative;
  max-height: 350px;
  max-width: 400px;
  width: 100vw;
  height: 100vh;
}
.user-card__image-container {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
.user-card__image {
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.user-card__footer {
  width: 100%;
  position: absolute;
  background: var(--light-grey);
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
  display: flex;
  padding: 0.75em 1em;
  align-items: center;
  justify-content: space-between;
}

.user-card__name {
  font-size: 1.5em;
  color: var(--red);
}
.user-card__age {
  font-size: 1.25em;
  color: var(--dark-light);
}

.user-card__form {
  /* position: absolute; */
  height: 100%;
  margin-left: 2em;
  display: flex;
  align-items: center;
}

.user-card__button {
  background: var(--red);
  color: var(--light-grey);
  font-size: 2.25em;
  padding: 0.35em;
  line-height: 0;
  vertical-align: middle;
  border-radius: 100px;
  color: var(--white-transparent);
}

.user-card__button:hover {
  color: white;
}
